.header
  %h.header__title
    Myフラッシュカード
  .header__right
    .header__right__start
      = link_to "スタート", "/problems/test"
    .header__right__new
      = link_to "問題作成", "/problems/new" 
.body
  .body__problems
    - @problems.each do |problem|
      .body__problems__problem
        .body__problems__problem__delete
          = link_to "削除", "/problems/#{problem.id}", method: :delete
        .body__problems__problem__japanese
          = problem.question
        .body__problems__problem__english
          = problem.anser
.footer

