.header
  %h.header__title
    Myフラッシュカード
  .header__right
    .header__right__start
      = link_to "フラッシュ", problem_path(@problems), { data: {id: "autorenew"}}
    .header__right__new
      = link_to "カード作成", "/problems/new" 
.body
  -# %video.boby__video{:autoplay => "", :loop => "", :muted => "", :src => "https://mazwai.com/videvo_files/video/free/2015-02/small_watermarked/leonard_soosay--missfit_preview.webm?v=1934090"}
  .body__problems
    - @problems.each do |problem|
      .body__problems__problem
        -# .body__problems__problem__result
        -#   = problem.result
        -#   -# = icon('fas', 'times')
        .body__problems__problem__delete
          = link_to "削除", "/problems/#{problem.id}", method: :delete
        .body__problems__problem__japanese
          = problem.question
        .body__problems__problem__english
          = problem.anser
.footer

