.header
  %h.header__title
    Myフラッシュカード
  .header__right
    .header__right__return
      = link_to "一覧へ", "/"
.body
  .body__problems
    %h.body__problems__direction
      単語を入力　　　　英単語を入力
      = form_with(model: @problem, local: true) do |form|
        .body__problems__problem
          .body__problems__problem__japanese
            = form.text_field :question, placeholder: "単語", size: "10x10", class: "body__problems__problem__japanese__jinput"
          .body__problems__problem__english
            = form.text_field :anser, placeholder: "英単語", size: "10x10", class: "body__problems__problem__english__einput"
          = form.submit "作成"

.footer
